
<div class="m-3 p-3 border-start border-5">
<div><%=@question%></div>
<p class="fst-italic">- You</p>
</div>

<div class="m-3 p-3 border-start border-5"><%=@answer%>
<p class="fst-italic">- Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
